/* TODO: Add colors here from figma */
@import "tailwindcss";

@theme {
  --color-primary-50: #f5f0fc;
  --color-primary-100: #efe8fb;
  --color-primary-200: #e7ddf9;
  --color-primary-300: #e7ddf9;
  --color-primary-400: #5f1ad5;
  --color-primary-500: #ffffff;
  --color-primary-600: #ffffff;
  --color-primary-700: #ffffff;
  --color-primary-800: #ffffff;
  --color-primary-900: #ffffff;
  --color-primary-950: #ffffff;

  --color-secondary-50: #f7fcef;
  --color-secondary-100: #f4fbe8;
  --color-secondary-200: #ffffff;
  --color-secondary-300: #ffffff;
  --color-secondary-400: #ffffff;
  --color-secondary-500: #ffffff;
  --color-secondary-600: #ffffff;
  --color-secondary-700: #ffffff;
  --color-secondary-800: #ffffff;
  --color-secondary-900: #ffffff;
  --color-secondary-950: #ffffff;
}

/* !! Themes */
@layer base {
  [data-theme="dark"] {
    --color-primary-50: #ffffff;
  }

  [data-theme="other"] {
    --color-primary-50: #ffffff;
  }
}
