@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Button Colors */
  --primary-blue: #3962dc;
  --primary-hover: #a06cfa;
  --primary-disabled: #854aea;

  --secondary-bg: #efe8fb;
  --secondary-hover: #e7ddf9;
  --secondary-text: #854aea;

  --tertiary-text: #854aea;
  --tertiary-hover: #a06cfa;
  --tertiary-disabled: #5f1ad5;

  --destructive-text: #fd6f6f;
  --destructive-hover: #f29292;
  --destructive-disabled: #eb5757;

  --focus-ring: #e7ddf9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Button Colors */
  --color-primary-blue: var(--primary-blue);
  --color-primary-hover: var(--primary-hover);
  --color-primary-disabled: var(--primary-disabled);

  --color-secondary-bg: var(--secondary-bg);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-text: var(--secondary-text);

  --color-tertiary-text: var(--tertiary-text);
  --color-tertiary-hover: var(--tertiary-hover);
  --color-tertiary-disabled: var(--tertiary-disabled);

  --color-destructive-text: var(--destructive-text);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-disabled: var(--destructive-disabled);

  --color-focus-ring: var(--focus-ring);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;


    --primary-blue: #4c7aff;
    --primary-hover: #b085ff;
    --primary-disabled: #9b6aff;

    --secondary-bg: #2a1b3d;
    --secondary-hover: #3d2b52;
    --secondary-text: #b085ff;

    --tertiary-text: #b085ff;
    --tertiary-hover: #c499ff;
    --tertiary-disabled: #7b47e6;

    --destructive-text: #ff8a8a;
    --destructive-hover: #ffacac;
    --destructive-disabled: #ff6b6b;

    --focus-ring: #3d2b52;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
